*{
box-sizing:border-box;
}
body{
font-size:16px;
font-family: arial,helveltica,sans-serif;
line-height: 1.4em; 
}

.contenedor{
    width: 980px;
    margin: 0 auto;
}

.encabezado{ 
background: #2c2c2c; 
overflow: hidden;
}
.logo{
    float: left;
   position: relative;
    top: 15px; 
}
.encabezado nav{ 
float: right; 
}
.encabezado nav ul{ 
margin: 0;
padding: 0;
list-style: none;
}
.encabezado nav ul li{ 
display: inline-block;
/*background: red;*/
margin-right: -4px;
}
.encabezado nav ul li a{ 
display: block;
color: #fff;
padding: 28px;
border-left: 1px solid #696969;
text-decoration: none;
}
/*cambio de color*/
.encabezado nav ul li a:hover{ 
background: #575757;
}
/*------------------------------------
PRESENTACION
-------------------------------------*/ 
.presentacion{
  /*background: yellow;*/
  background: radial-gradient(280px at 25% 10%, #a3d4ff, #0460ad);
  overflow: hidden;
  border-bottom: 3px solid #044e8b; 
}  
.introduccion-presentacion{
    float: left;
}
.introduccion-presentacion h1{
    color: #fff;
    font-size: 2.625em;  /*16px  1em  42px  ?*/
    text-shadow: 1px 1px 0px #090909;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 20px;
   line-height: 0.7em; /*interlineado  */
} 
.introduccion-presentacion h1 span{
    color: #fff;
    font-size: 0.38em; /*42px = 2.62em 16px = ? =0.38*/
}
/*------------aprender------------mas*/
a.aprender-mas{
    font-size: 2.1875em;
    border: 1px solid #0d5c25;
    padding: 30px 50px;
    /*background: yellow;*/
    display: block;
    text-align: center;
    margin: 10px 40px;
    color: #fff;
    text-decoration: none;
    text-shadow: 3px 7px 0 #000;
    border-radius: 10px;
    background: linear-gradient(to top, #319b41, #0d5c25);
    box-shadow: 0 8px 0 0 #20732f,
                0 0 25px 5px #fff;
} 
a.aprender-mas:hover{
    box-shadow: 0 0 25px 5px #000;
}
.presentacion img{
    float: right;
    position: relative;
    top: 30px;
}
/*****************************************************************
/*------------Acceso-rapido------------*/
.acceso-rapido{
    background: #21bc4e;
    overflow: hidden;
    border-bottom: 3px solid #fff;
}
.acceso-rapido h2 {
    color: #fff;
    font-size: 1.87em;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
    border-bottom: 3px solid #fff;
    padding-bottom: 16px;
}
.acceso-rapido figure{
    display: inline-block;
    text-align: center;
    width: 25%;
    margin: 0 -4px 0 0;
    padding: 0px;
}
.acceso-rapido h3{
   font-size: 1.1875em;
    margin-top: 9px;
    margin-bottom: 20px; 
}
.acceso-rapido h3 a{
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    font-weight: normal;
}
.acceso-rapido h3 a:hover{
    text-decoration: none;
}
/*---------bloque contenido----------*/
.bloque-contenido{
    overflow: hidden; /*2
    margin-top: 25px; /** complemenatario 6  **/
}
.bloque-contenido .contenedor{  /*3**/
    display: table;  */
}
.articulos { /** 1 **/
    /*float: left;  /*elim 3 */
    background: beige;
    width: 65%; /*elimi  3*/
  display: table-cell;  /*3*/
  padding-right: 30px; /* 4*/
}
.articulos article{  /* 10   */
    margin-bottom: 10px;
}
.articulos h2{  /**4**/
    color: #444444;
    font-size: 1.625em;
    border-bottom: 3px solid #0460ad;
    padding-bottom: 25px;
}
.articulos img{  /**5**/
    float: left;
    margin-right: 10px;
    position: relative; /*  10  */
    top: 5px;           /*   10 */
}
.articulos article h1{  /**6**/
    font-size: 1.25em;  /*20/16 = 1.25em*/
    /*margin: 0; ** 8  *** quitar 8 poner 9*/
    margin: 8px 0 8px 0;  /*** 9 ****/
}
.articulos article h1 a{  /**7**/ 
    color: #444444;  /*HTML incluir href*/
    text-decoration: none;
}
.articulos article h1 a:hover{  /**8**/ 
    text-decoration: underline;
}
.articulos article p{  /** 9 **/ 
    margin: 0;
    text-align: justify;
    font-size: 0.875em; /*** 14/16 = 0.875 ***/
}
.complementario{    /*   1  */
    background: #0460ad;
    width: 35%; 
    display: table-cell; 
    padding: 0 20px 20 px; /***2**laterales sup e inf*/
}
.complementario h2{   /** 2  **/
    font-size: 1.625em;  /* 26/16 em*/ 
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.complementario ul{   /** 3  **/
    margin: 0;
    padding: 0;
    list-style: none;
}
.complementario ul li{ /*** 4 ***/
    background: url("imagen/icon.png") no-repeat left center;
    padding-left: 24px;
    margin-bottom: 8px;
}
.complementario ul li a{ /*** 5 ***/
    color: #fff;
    text-decoration: none;
}
.complementario ul li a:hover{ /*** 6 ***/
    color: red;
    text-decoration: underline; /* ir a bloque-conteniodo*/
}
/***********************************************************************/
/************** suscripcion */
.suscripcion{  /**1***/
    overflow: hidden;
    border: 1px solid red;  /**2 *** elim**/
    background: #eeeeee;   /***2***/
    margin-top: 20PX;  /*** 2  B  ****/
}
.suscripcion h2{ /***2***/
    float: left;
    font-size: 1.625em; /*26/16  */
    color: #444444;
    font-weight: normal;
}
.suscripcion form{  /***2***/
    float: right;
    position: relative; /** 2 a ***/
    top: 20px;   /***  2  a   ****/
}
.suscripcion form input{   /***3  ***/
    border: 1px solid #cccccc;
    padding: 10px;
}
.suscripcion form input[type="submit"]{ /*** 4   ***/
    border: 1px solid #22314d;
    padding: 10px;
    background: #0460ad;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    box-shadow: 0 -1px 0px 0 #93badc insert;
}
.suscripcion form input[type="submit"]:hover{ /*** 5   ***/
    background: #21bc4d;
}
/***********pie de pagina**************/
.piedepagina{   /**1 **/
    background: #444444;
    padding: 20px 0; /*** 7  c  */
}
.piedepagina .contenedor{   /**2  **/
    display: table;
}
.piedepagina small{  /***3  ***/
    display: table-cell;
    background: red;  /*  elim  7 a **/
    color: #fff;  /** 4 **/
}
.piedepagina nav{ /**** 4  ***/
    display: table-cell;
    background: blue;  /*** elim 7 b ***/
    text-align: right; /***6  **/
}
.piedepagina nav ul{ /**** 5 ***/
    margin: 0;
    padding: 0;
    list-style: none;
}
.piedepagina nav ul li{ /**** 6 ***/
    display: inline-block;
    padding-left: 10px;  /** 7  d ****/
}
.piedepagina nav ul li a{ /**** 7 ***/
    color: #fff;
    text-decoration: none;
}
.piedepagina nav ul li a:hover{ /**** 7 ***/
    color: #ffff00;
    text-decoration: underline;
}
/*************Redes sociales***************/
.social{
    position: fixed;
    top: 30%;
    right: 0;
}
.social a{
    display: block;
    margin-bottom: 4px;
    opacity: 0.8;
}
.social a:hover{
    opacity: 1;
}
.social img{
    border-radius: 50%;
    display: block;
}